@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --secondary-color: #1992d4;
}

.icon {
    width: 28px;
    height: auto;
}

.profile {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e6e4e3;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 3.5fr;
    grid-template-areas: 'sidebar header'
        'sidebar main-content';
}

.sidebar {
    min-height: 100vh;
    padding: 20px;
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    grid-area: sidebar;
}

li#home::before {
    display: inline-block;
    content: "";
    background: url(./assets/icons/home.png) no-repeat 0 0;
    background-size: 100%;
    width: 28px;
    height: 28px;
}

li#profile::before {
    display: inline-block;
    content: "";
    background: url(./assets/icons/profile.png) no-repeat 0 0;
    background-size: 100%;
    width: 28px;
    height: 28px;
}

li#messages::before {
    display: inline-block;
    content: "";
    background: url(./assets/icons/messages.png) no-repeat 0 0;
    background-size: 100%;
    width: 28px;
    height: 28px;
}

li#history::before {
    display: inline-block;
    content: "";
    background: url(./assets/icons/history.png) no-repeat 0 0;
    background-size: 100%;
    width: 28px;
    height: 28px;
}

li#tasks::before {
    display: inline-block;
    content: "";
    background: url(./assets/icons/tasks.png) no-repeat 0 0;
    background-size: 100%;
    width: 28px;
    height: 28px;
}

li#communities::before {
    display: inline-block;
    content: "";
    background: url(./assets/icons/communities.png) no-repeat 0 0;
    background-size: 100%;
    width: 28px;
    height: 28px;
}

li#settings::before {
    display: inline-block;
    content: "";
    background: url(./assets/icons/settings.png) no-repeat 0 0;
    background-size: 100%;
    width: 28px;
    height: 28px;
}

li#support::before {
    display: inline-block;
    content: "";
    background: url(./assets/icons/support.png) no-repeat 0 0;
    background-size: 100%;
    width: 28px;
    height: 28px;
}

li#privacy::before {
    display: inline-block;
    content: "";
    background: url(./assets/icons/privacy.png) no-repeat 0 0;
    background-size: 100%;
    width: 28px;
    height: 28px;
}

.page-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    font-weight: bold;
}

.page-logo::before {
    content: url(./assets/icons/view-dashboard.png);
}

.page-logo:hover,
button[type='button']:hover {
    cursor: pointer;
}

nav ul {
    display: grid;
    row-gap: 20px;
    padding-left: 12px;
    list-style-type: none;
}

nav a {
    width: fit-content;
    color: white;
}

li.nav-link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 16px;
    font-weight: bold;
}

header {
    background-color: white;
    box-shadow: 0px 5px 3px lightgrey;
    padding: 15px 40px;
    grid-area: header;
    display: grid;
    gap: 10px 20px;
    grid-template-columns: 5fr 0.8fr auto;
}

.search-bar-wrapper {
    display: grid;
    column-gap: 15px;
    align-items: center;
    grid-template-columns: 28px 1fr;
}

.search-bar-wrapper::before {
    width: 28px;
    height: 28px;
    content: '';
    background: url(./assets/icons/search.png) no-repeat;
    background-size: 100%;
}

input[type='search'] {
    appearance: none;
    border-radius: 20px;
    height: 38px;
    min-width: 110px;
    width: 95%;
    border: none;
    padding: 0 20px;
    background-color: #e2e8f0;
}

input[type='search']:focus {
    outline: 1px solid var(--secondary-color);
}

.notification-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
}

.account-user {
    display: grid;
    grid-template-columns: 49px auto;
    justify-content: end;
    column-gap: 10px;
    margin-right: 10px;
    align-items: center;
}

.user-full-name {
    font-weight: bold;
    color: black;
}

.user-greetings {
    display: flex;
    margin-left: -10px;
}

.big-profile {
    width: 100px;
    height: auto;
}

.user-greetings p {
    font-weight: bold;
    margin: 0%;
}

.user-info {
    font-size: 20px;
}

.greetings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 8px;
}

.header-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    align-items: center;
    grid-column: 2 / 4;
}

button[type='button'] {
    appearance: none;
    border: 0;
    border-radius: 18px;
    background-color: var(--secondary-color);
    color: white;
    height: 40px;
}

main.content {
    --card-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    grid-template-rows: 1fr auto;
    gap: 15px;
    padding: 10px 20px 40px;
}

main.content a {
    color: black;
}

main.content h4,
main.content h5 {
    margin: 15px 0 10px;
}

main.content p:not(.trending-user-name) {
    color: #636363;
    margin: 0 5px 15px 0;
}

.card {
    border-radius: 8px;
}

.projects-wrapper {
    --accent-color: #faa2b8;
    height: 100%;
    display: grid;
    grid-row: 1 / 3;
    grid-template-rows: auto 1fr;

}

.project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    height: 100%;
}

.project-card {
    display: grid;
    align-content: space-between;
    padding: 10px 20px 25px;
    border-left: 8px solid var(--accent-color);
    background-color: white;
    box-shadow: var(--card-shadow);
}

.project-card-btns {
    display: flex;
    column-gap: 20px;
    justify-content: end;
}

.other-card {
    background-color: white;
    box-shadow: var(--card-shadow);
    padding: 15px 30px 20px;
}

/* Announcements card paragraph text */
h5+p {
    margin: 0 5px 15px 0;
    font-size: 14px;
}

.trending-user {
    display: grid;
    grid-template-columns: repeat(2, max-content);
}

.trending-user-name {
    color: black;
    margin: 8px 0px 4px;
}